* {
  padding: 0;
  margin: 0;
}
body {
  max-width: 100vw;
}
#root {
  width: 100vw;
  max-width: 100vw;
  overflow: no-display;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 8px;
}
input:focus {
  outline: none;
}
button {
  width: fit-content;
  background: #0e3c02;
  color: white;
  font-size: 24px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  margin: 5px 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.user {
  border: 2px dashed black;
  margin-top: 15px;
  padding: 10px 0 10px 50px;
  cursor: move;
}
.user i {
  float: right;
  cursor: pointer;
}
.nestable-item.is-dragging * {
  opacity: 0.9 !important;
}

.nestable-drag-layer {
  display: none;
}